
  
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
        
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">

                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
               
            </form>
            
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">   {{ admin['Email'] }}<i class="fas fa-user fa-fw"><span></span></i></a>
                
                      
                        
                </li>
            </ul>
            <div class="custom-left-align hover-element">
                <!-- <a class="navbar-brand ps-3" href="index.html">Profile</a> -->
                <button class="navbar-brand ps-3 bg-black" (click)="toggle()">Profile</button>
              </div>
              <div class="custom-left-align  hover-element">
                <a class="navbar-brand ps-3" href="index.html">Applicants List</a>
              </div>
              <div class="custom-left-align hover-element">
                <a class="navbar-brand ps-3" href="index.html">logout</a>
              </div>
           
        </nav>
        <div id="layoutSidenav">
         
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6 hover-element">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">New Applicants</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-xl-3 col-md-6 hover-element">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Approved Applicants</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 hover-element">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">On Holds Applicant</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showAdminProfile">
                    <!--  -->

                    <section style="background-color: #eee;">
                        <div class="container py-5">
                          
                      
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="card mb-4">
                                <div class="card-body text-center">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                                  <h5 class="my-3">{{admin.Username}}</h5>
                                  <p class="text-muted mb-1">{{admin.Email}}</p>
                                  <p class="text-muted mb-1">{{admin.Email}}</p>
                                  <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                                  
                                </div>
                              </div>
                              
                            </div>
                            <div class="col-lg-8">
                              <div class="card mb-4">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">Johnatan Smith</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">example@example.com</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">(097) 234-5678</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Mobile</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">(098) 765-4321</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                            </div>
                          </div>
                        </div>
                      </section>




                    <!--  -->
                          </div>
                       
                    </div>
                </main>
                
            </div>
        </div>
      

