
 
<body>
  <div class="jumbotron">
    <h1>Welcome to Our Website</h1>
    <p>Discover the Best Services</p>
  </div>

  <div class="features">
    <div class="container">
      <h2>Our Features</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-cog"></i>
            <h3>Customizable</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum elit eget semper ultrices.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-mobile"></i>
            <h3>Responsive</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum elit eget semper ultrices.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-heart"></i>
            <h3>User-friendly</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum elit eget semper ultrices.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  


</body>
